# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# App Specific
config.json
history.jsonl
reminders.json
chroma_db/
temp_ingest/
*.log
.update_restart

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build & Distribution
build/
dist/
installer/
AtendimentoBot.spec

# Database
db_atendimento/
chroma_db/
arquivos/
